/* used for display pages */
/* styling */
.display,
.mealform {
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
    max-width: 1000px;
    margin: 2% 5%;
    border-radius: var(--border-radius-display-box);
    font-size: 16px;
}

.display {
    opacity: 0;
    animation: fade-in .5s ease-out 1.5s 1 forwards;
    background: var(--color-quinary);
    color: black;
}

/* centering the display if the window gets too wide */
@media only screen and (min-width: 1000px) {
    .display,
    .cat-grid-margin,
    .mealform {
        margin: auto;
    }
}

.display .header,
.display .body,
.display .footer {
    padding: 2% 4%;
}

.display .header {
    text-align: center;
    font-size: var(--font-size-title);
    border: 0px solid var(--color-primary);
    border-bottom-width: 6px;
}

.display .header p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.display .body {
    display: grid;
    grid-template-columns: 5fr 6fr ;
    grid-template-rows: 2fr 3fr;
    grid-column-gap: 2%;
    grid-row-gap: 3%;
    margin-bottom: 4%;
}

.display .body .description {
    letter-spacing: 1px;
    /* font-size: var(--font-size-larger); */
    background-color: var(--color-tertiary);
    padding: 5%;
    border-radius: var(--border-radius-display-box);
    color: white;
}

.display .body .timeinvest,
.display .body .servings,
.display .body .source {
    letter-spacing: 1px;
    width: fit-content;
    margin: 10px 0;
    padding: .1% 7%;
    border-radius: 30px;
    font-weight: bold;
}

.display .body .timeinvest {
    background: #c2c2c2;
}

.display .body .servings {
    background: var(--color-quaternary);
    color: white;
}

.display .body .source {
    background: var(--color-primary);
    color: white;
}


.display .body img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 6px #6e6e6e;
}

.display .body .ingredients p:nth-child(1),
.display .body .instructions p:nth-child(1) {
    font-size: var(--font-size-large);
}

.display .body .ingredients #ingredients {
    white-space: pre;
    line-height: 2.2;
}

.display .footer {
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: var(--border-radius-display-box);
    border-bottom-left-radius: var(--border-radius-display-box);
    background-color: var(--color-tertiary);
    color: white;
}

.display .footer #categories {
    display: flex;
}

/* inserting the correct text in places */
#timeinvest::before {content: "Preperation Time: ";}
#timeinvest::after {content: " min";}
#servings::before {content: "Servings: ";}
#source::before {content: "From ";}
#created_at::before{content:"Created At:";}
#updated_at::before{content:"Updated At:";}

/* mealform */
.mealform #title {
    font-size: var(--font-size-title);
    text-align: center;
    font-weight: bold;
}

.mealform .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    /* justify-content: space-between; */
    /* background-color: #0281d7; */
    /* background-color: var(--color-quinary); */
    border-radius: var(--border-radius-box-title);
    padding: 4%;
}

/* buttons */
.mealform .body .add,
.mealform .body .added,
.mealform .body .build {
    font-weight: bold;
    border-width: 0;
}
.mealform .body .add {
    background-color: var(--color-senary);
}

.mealform .body .add:hover {
    background-color: var(--color-septenary);
}

.mealform .body .added {
    background-color: var(--color-octonary);
}

.mealform .body .added:hover {
    background-color: var(--color-nonary);
}

.mealform .body .build {
    background-color: var(--color-quaternary);
}

.mealform .body .build:hover {
    background-color: var(--color-octonary);
}

/* adding text before and after category names */
.mealform .body button.add::before {
    content: "Add ";
}

.mealform .body button.add::after {
    /* content: " to meal"; */
}

.mealform .body button.added::after {
    content: " added";
}