/* color sheme and gradients */
:root {
    /* colors */
    --color-primary: #FA7921;
    --color-secondary: #F3DE2C;
    --color-tertiary: #533B4D;
    --color-quaternary: #0075C4;
    --color-quinary: #F5DDDD;
    --color-senary: #558B2F;
    --color-septenary: #7FB800;
    --color-octonary: #C2185B;
    --color-nonary: #D81B60;
    /* gradients */
    --primary-gradient: linear-gradient(-5deg, var(--color-secondary), var(--color-primary));
    --tertiary-gradient: linear-gradient(-5deg, var(--color-tertiary), var(--color-quaternary));
    --black-fade: linear-gradient(0deg, black, transparent);
    /* border */
    --border-gradient: linear-gradient(132deg, white, transparent);
    --border-radius-box-title: 25px;
    --border-radius-display-box: 5px;
    /* font */
    --font-size-larger: 18px;
    --font-size-large: 22px;
    --font-size-title: 50px;
}
